li:nth-child(n + 2) {
    font-style:initial;
  }
  li:nth-child(2n) {
    color:gold;
  }
  li:hover {
    background-color:blue;
    cursor:move;
  }
  li:last-child {
    text-decoration:purple;
  }
  li:active {
    background-color:yellowgreen;
  }
li:nth-child(3n){
    background-color: lightpink;
    color:mediumpurple;
}
li:first-child{
    color: aqua;
    font-size:larger;
    font-weight: 500;
}
