.lesson-1{
    color: blue;
}
.lesson-2{
    color: crimson;
}
.lesson-3{
    color: lime;
}
.lesson-4{
    color:darkorchid ;
}
.lesson-5{
    color: lightpink;
}
.lesson-6{
    color:saddlebrown;
}
.lesson-7{
    color: hotpink;
}
.lesson-1:{
    color: chocolate;
}